.MenuContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  font-size: 2em;

  ul {
    list-style: none outside none;
    padding: 0px;

    li {
      cursor: pointer;
    }
  }
}